In [1]:
import os
from urllib.request import urlretrieve

import pandas as pd

TMP = os.getenv("TMP", "/tmp")
EXCEL = os.path.join(TMP, 'order_data.xlsx')
if not os.path.isfile(EXCEL):
    urlretrieve(
        'https://bites-data.s3.us-east-2.amazonaws.com/order_data.xlsx',
        EXCEL
    )

In [3]:
def load_excel_into_dataframe(excel=EXCEL):
    """Load the SalesOrders sheet of the excel book (EXCEL variable)
       into a Pandas DataFrame and return it to the caller"""
    return pd.read_excel(excel, sheet_name='SalesOrders')

In [6]:
df = load_excel_into_dataframe()

In [7]:
df.head()

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2018-01-06     East    Jones  Pencil     95       1.99  189.05
1 2018-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2018-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2018-02-26  Central     Gill     Pen     27      19.99  539.73
4 2018-03-15     West  Sorvino  Pencil     56       2.99  167.44

In [8]:
df.shape

(43, 7)

In [9]:
df.dtypes

OrderDate    datetime64[ns]
Region               object
Rep                  object
Item                 object
Units                 int64
Unit Cost           float64
Total               float64
dtype: object

In [12]:
def get_year_region_breakdown(df):
    """Group the DataFrame by year and region, summing the Total
       column. You probably need to make an extra column for
       year, return the new df as shown in the Bite description"""
    df['Year'] = df['OrderDate'].dt.year
    return df.groupby(['Year', 'Region'])['Total'].sum()

In [13]:
get_year_region_breakdown(df)

Year  Region
2018  Central    3833.51
      East       5193.71
      West        231.12
2019  Central    7305.56
      East        808.38
      West       2255.60
Name: Total, dtype: float64

In [18]:


def get_best_sales_rep(df):
    """Return a tuple of the name of the sales rep and
       the total of his/her sales"""
    return df.groupby('Rep')['Total'].sum().idxmax(), df.groupby('Rep')['Total'].sum().max()

In [19]:
get_best_sales_rep(df)

('Kivell', 3109.44)

In [20]:
def get_most_sold_item(df):
   """Return a tuple of the name of the most sold item
      and the number of units sold"""
   return df.groupby('Item')['Units'].sum().idxmax(), df.groupby('Item')['Units'].sum().max()

In [21]:
get_most_sold_item(df)

('Binder', 722)